name: Terraform Dev Environment

on:
  workflow_dispatch:
  push:
    paths:
      - 'dev-env-terraform/**'

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    name: Terraform Plan (Dev)
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: dev-env-terraform
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Plan
        run: terraform plan -input=false -var="subscription_id=${{ secrets.ARM_SUBSCRIPTION_ID }}"

  terraform-apply:
    name: Terraform Apply (Dev)
    runs-on: ubuntu-latest
    needs: terraform-plan
    environment: dev
    defaults:
      run:
        working-directory: dev-env-terraform
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false -var="subscription_id=${{ secrets.ARM_SUBSCRIPTION_ID }}"